<footer class="footer">
  <p>Created by <a class="footer-links" href="https://github.com/jugosack">Jugoslav</a> and <a class="footer-links" href="https://github.com/lukman155">Lukman</a> © 2023</p>
</footer>