<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <p class="text-center">Created by <a href="https://github.com/jugosack">Jugoslav</a> and <a href="https://github.com/lukman155">Lukman</a> © 2023</p>
      </div>
    </div>
  </div>
</footer>
